<section class="_editor">
    <section class="tool-border">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </section>
    <section>
        <section data-md5="a33ee" style="white-space: normal; caret-color: #000000; color: #000000;">
            <section data-md5="a33ee" style="background-image: url(&quot;http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtmzTZs24dLTVicqIs8GDDWYicPyZiaZw5jcibFLHzbCWbHibgtKBWvHIcGibA/640?wx_fmt=png&quot;); background-size: 100%;">
                <section data-md5="a33ee" style="background-image: url(&quot;http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtbcOmmF8Qk3ZwxsicJtf5kOO16JMsEWvQiaibHyk0rHKskT0Bo7GyAYdGw/640?wx_fmt=png&quot;); background-size: 15%; background-position: left top; background-repeat: no-repeat;">
                    <section data-md5="a33ee" style="padding-top: 117.594px; padding-right: 10px; padding-left: 10px; background-image: url(&quot;http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtrtVOibcyOXKcg3e5HsNI3icwFY2ohfhKFl0bMfEAhjiaC02wSIXpktusQ/640?wx_fmt=png&quot;); background-size: 15%; text-align: center; background-position: right top; background-repeat: no-repeat;">
                        <section data-md5="a33ee">
                            <section data-md5="a33ee" style="display: -webkit-box; -webkit-box-pack: justify;">
                                <section data-md5="a33ee" style="width: 30px;">
                                    <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtxicnnDJpArozMzzkCb8cYrnshqce14GfvaxBNyic8KxfiapF865SJAL9g/640?wx_fmt=png" style="width: 30px; vertical-align: middle;"/>
                                </section>
                                <section data-md5="a33ee">
                                    <section data-md5="a33ee" style="margin-top: 10px; width: 20px; display: inline-block; transform: rotate(0deg);">
                                        <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtH5gBGVVibciaEl1x5Y2e8jCSibtn5bDhG8f6NmIzmwwnG6I25jiceRqPAw/640?wx_fmt=png" style="width: 20px; vertical-align: middle;"/>
                                    </section>
                                    <section data-md5="a33ee" style="margin-left: -12px; width: 50px; height: 50px; background-color: #ffd22c; border-radius: 50%; border-width: 1px; border-style: solid; border-color: #ff513a; display: inline-block;">
                                        <section data-md5="a33ee" style="color: #ff513a; letter-spacing: 0px; line-height: 50px;">
                                            <p data-md5="a33ee" style="font-size: 30px;">
                                                <strong>每</strong>
                                            </p>
                                        </section>
                                    </section>
                                </section>
                                <section data-md5="a33ee" style="width: 50px; height: 50px; background-color: #ffd22c; border-radius: 50%; border-width: 1px; border-style: solid; border-color: #ff513a;">
                                    <section data-md5="a33ee" style="color: #ff513a; letter-spacing: 0px; line-height: 50px;">
                                        <p data-md5="a33ee" style="font-size: 30px;">
                                            <strong>周</strong>
                                        </p>
                                    </section>
                                </section>
                                <section data-md5="a33ee" style="width: 50px; height: 50px; background-color: #ffd22c; border-radius: 50%; border-width: 1px; border-style: solid; border-color: #ff513a;">
                                    <section data-md5="a33ee" style="color: #ff513a; letter-spacing: 0px; line-height: 50px;">
                                        <p data-md5="a33ee" style="font-size: 30px;">
                                            <strong>食</strong>
                                        </p>
                                    </section>
                                </section>
                                <section data-md5="a33ee" style="margin-left: 6px;">
                                    <section data-md5="a33ee" style="width: 50px; height: 50px; background-color: #ffd22c; border-radius: 50%; border-width: 1px; border-style: solid; border-color: #ff513a; transform: rotate(0deg);">
                                        <section data-md5="a33ee" style="color: #ff513a; letter-spacing: 0px; line-height: 50px;">
                                            <p data-md5="a33ee" style="font-size: 30px;">
                                                <strong>谱</strong>
                                            </p>
                                        </section>
                                    </section>
                                    <section data-md5="a33ee" style="margin-top: -37px; margin-left: -3px; width: 60px;">
                                        <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XthZiafghvc9ZLSBuNdz77EBIS81wfKlCdQQUxicdYPVf56ZtzGe5xiaHcQ/640?wx_fmt=png" style="width: 60px; vertical-align: middle;"/>
                                    </section>
                                </section>
                                <section data-md5="a33ee" style="width: 30px;">
                                    <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtxicnnDJpArozMzzkCb8cYrnshqce14GfvaxBNyic8KxfiapF865SJAL9g/640?wx_fmt=png" style="width: 30px; vertical-align: middle;"/>
                                </section>
                            </section>
                        </section>

                        {{range $i, $v := .Dailys}} 
                            <!--定义一个区块-->                       
                            {{block "daily" .}}{{end}}
                         {{end}}                        



                        <section data-md5="a33ee">
                            <section data-md5="a33ee">
                                <section data-md5="a33ee" style="display: inline-block;">
                                    <section data-md5="a33ee" style="margin-right: 10px; margin-left: 5px; display: -webkit-box; -webkit-box-pack: justify; -webkit-box-align: end;">
                                        <section data-md5="a33ee" style="width: 40px;">
                                            <br/>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <section data-md5="a33ee">
                            <section data-md5="a33ee" style="margin-right: auto; margin-left: auto; width: 687.594px;">
                                <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/6gdoibJf8UkYchluSA7sdrribuce9Zl9XtW7ZJaiaUB0WMOhTH9cmjfS8Gy84wIHBMnkZbpD5RWzO2bf4Lic0LyrPg/640?wx_fmt=png" style="width: 687.594px; vertical-align: middle;"/><span style="font-size: 14px;">本菜单由苏州市裕丰源快餐配送中心有限公司提供</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section>
        <p>
            <br/>
        </p>
    </section>
    <section style="font-size: 16px;">
        <section>
            <section style="margin-top: 10px; margin-bottom: 10px; display: flex; flex-flow: row nowrap;">
                <section style="padding-right: 5px; display: inline-block; vertical-align: top; width: auto; flex: 40 40 0%; align-self: flex-start; height: auto;">
                    <section style="text-align: center;">
                        <section style="vertical-align: middle; display: inline-block; line-height: 0;">
                            <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/ibBYoOrOhdibaOW6vOLia7a3lDsn5oLz0NfwBuXPM4g3R6zmTN6Szg25UEFWOSs6BEmHicoxbvQ3teXdbvuGkGI0Cg/640?wx_fmt=jpeg" style="vertical-align: middle;"/>
                        </section>
                    </section>
                </section>
                <section style="padding-bottom: 5px; display: inline-block; vertical-align: middle; width: auto; flex: 100 100 0%; align-self: center; height: auto; background-color: #fff4e5; border-width: 0px; border-radius: 12px; border-style: none; border-color: #3e3e3e; overflow: hidden;">
                    <section>
                        <section style="display: flex; flex-flow: row nowrap;">
                            <section style="display: inline-block; vertical-align: top; width: auto; min-width: 10%; flex: 0 0 auto; height: auto; background-color: #ebc69f; border-width: 0px; border-radius: 0px 0px 10px; border-style: none; border-color: #3e3e3e; align-self: flex-start; z-index: 2; box-shadow: #000000 0px 0px 0px;">
                                <section style="padding-right: 10px; padding-left: 10px; font-size: 15px; color: #ffffff; line-height: 2; letter-spacing: 3px;">
                                    <p style="white-space: normal;">
                                        扫码关注我们
                                    </p>
                                </section>
                            </section>
                            <section style="display: inline-block; vertical-align: top; width: auto; flex: 100 100 0%; height: auto; align-self: flex-start; z-index: 2; line-height: 0; letter-spacing: 0px;">
                                <section style="justify-content: flex-start;">
                                    <section style="display: inline-block; width: 12px; height: 12px; vertical-align: top; overflow: hidden; line-height: 0.5;">
                                        <section style="text-align: center;">
                                            <section style="vertical-align: middle; display: inline-block; line-height: 0;">
                                                <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_svg/xPKCxELaaj5DOceTzicEXQwNqoAN7Yxuw4JtOI7E0NK6uiaCPTmRzLlj1oM34icdaUhawI7fD2duDzYujAiaIT3AoajrgEQwRdg2/640?wx_fmt=svg" style="height: 12px; vertical-align: middle; width: 300px;"/>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section>
                        <section style="text-align: center; display: flex; flex-flow: row nowrap; opacity: 0.99; transform: translate3d(1px, 0px, 0px);">
                            <section style="display: inline-block; width: auto; vertical-align: top; flex: 0 0 0%; height: auto; line-height: 0.5; align-self: flex-start;">
                                <section style="text-align: left; justify-content: flex-start; transform: translate3d(-1px, 0px, 0px);">
                                    <section style="display: inline-block; width: 12px; height: 12px; vertical-align: top; overflow: hidden;">
                                        <section style="text-align: center;">
                                            <section style="vertical-align: middle; display: inline-block; line-height: 0;">
                                                <img src="http://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_svg/xPKCxELaaj5DOceTzicEXQwNqoAN7Yxuw4JtOI7E0NK6uiaCPTmRzLlj1oM34icdaUhawI7fD2duDzYujAiaIT3AoajrgEQwRdg2/640?wx_fmt=svg" style="height: 12px; vertical-align: middle; width: 300px;"/>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section>
                        <section style="padding-right: 10px; padding-left: 10px; font-size: 15px; color: #6a6a6a; line-height: 1.6; letter-spacing: 1px;">
                            <p style="white-space: normal;">
                                <br/>
                            </p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section>
        <p>
            <br/>
        </p>
    </section>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
    <p>
        <br/>
    </p>
</section>
<section class="_editor">
    <p>
        <br/>
    </p>
</section>